<header class="text-center">
  <h1 class="text-7xl text-center font-bold py-8">TODO LIST</h1>
  <div class="border rounded-sm flex">
    <input
      class="w-full p-3 border border-none rounded-lg focus:outline-none focus:none"
      type="text"
      placeholder="輸入代辦事項"
    />

    <button id="plusEvent" class="text-center pe-2 cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-8 p-1 text-gray-300 bg-black rounded-sm"
      >
        >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
    </button>
  </div>
</header>
