<%- include('nav.ejs') %>
<header class="text-center">
  <img
    src="/title.png"
    alt=""
    class="absolute w-4/5 object-contain left-10 lg:top-5 md:top-10 -z-10"
  />
  <div class="relative">
    <div class="py-8">
      <h1 class="relative text-7xl text-center font-bold">TODO LIST</h1>
    </div>
  </div>

  <div class="border rounded-sm flex mt-4">
    <input
      id="event_content"
      class="w-full p-3 border border-none rounded-lg focus:outline-none focus:none"
      type="text"
      placeholder="輸入代辦事項"
    />

    <button id="addEvent" class="text-center pe-2 cursor-pointer">
      <img src="/addEventIcon.png" alt="" class="w-10 h-8" />
    </button>
  </div>
</header>
