<nav class="w-full list-none flex gap-5 mt-3 justify-end">
  <h3 id="userName" class="my-auto"></h3>
  <button
    id="signout"
    class="bg-black text-white px-5 py-2 rounded-sm cursor-pointer"
  >
    登出
  </button>
</nav>
