<section class="flex">
  <button
    id="allEvents"
    class="border-b-1 border-gray-300 p-2 flex-1 cursor-pointer border-gray-800"
  >
    全部
  </button>
  <button
    id="waitEvents"
    class="border-b-1 border-gray-300 p-2 flex-1 cursor-pointer"
  >
    待完成
  </button>
  <button
    id="finishEvents"
    class="border-b-1 border-gray-300 p-2 flex-1 cursor-pointer"
  >
    已完成
  </button>
</section>
