<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList</title>
    <%- include('link/head.ejs') %>
  </head>
  <body
    class="max-w-3xl min-h-screen flex flex-col items-center justify-center mx-auto"
  >
    <h1 class="text-7xl text-center font-bold py-8">Register</h1>
    <form id="register" class="flex flex-col gap-4">
      <div class="text-xl">
        <label for="name">姓名</label>
        <input type="text" name="name" class="border rounded-sm" />
      </div>
      <div class="text-xl">
        <label for="email">帳號</label>
        <input type="email" name="email" class="border rounded-sm" />
      </div>
      <div class="text-xl">
        <label for="password">密碼</label>
        <input type="password" name="password" class="border rounded-sm" />
      </div>
      <button type="submit" class="border rounded-sm">註冊</button>
    </form>

    <%- include('link/script.ejs') %>
    <script src="/register.js"></script>
  </body>
</html>
